* {margin: 0; padding: 0}

#mobile-nav {
	display: inline-block;
	float: left;
	width: 200px;
	height: 100%;
	position: relative;
}

#mobile-nav ul li a {
	text-decoration: none;
	color: black;
	height: 50px;
	margin: 10px;
	padding: 10px;
}

#page {
	display: inline-block;
	float: right;
	width: 500px;
	height: 100%;
	position: absolute;
	left: 200px;
}
